<%= @event.type %> for <a href='https://manage.stripe.com/search?query=<%= @event.data.object.id %>'><%= @subject_cust %></a><br><br>
Event Type: <strong><%= @event.type %></strong><br>
Object: <%= @event.data.object.try(:object) %><br>
Email: <%= @event.data.object.try(:email) %><br>
Description: <%= @event.data.object.try(:description) %><br>
Delinquent: <%= @event.data.object.try(:delinquent) %><br>
<% if @event.data.object.try(:subscription).present? %>
  Subscription: <a href='https://manage.stripe.com/search?query=<%= @event.data.object.subscription.try(:id) %>'><%= @event.data.object.subscription.try(:id) %></a><br>
  Status: <%= @event.data.object.subscription.try(:status) %><br>
  <% if @event.data.object.subscription.try(:plan).present? %>
    Plan: <%= @event.data.object.subscription.plan.try(:name) %><br>  
    Plan ID: <%= @event.data.object.subscription.plan.try(:id) %><br>
    Plan Interval: <%= @event.data.object.subscription.plan.try(:interval) %><br>
    <% if @event.data.object.subscription.try(:plan).present? %>
      Coupon: <a href='https://manage.stripe.com/coupons/<%= @event.data.object.subscription.discount.coupon.try(:id) %>'><%= @event.data.object.subscription.discount.coupon.try(:id) %></a><br>
    <% end %>
  <% end %>
<% end %>
<br><br>
--
<%= JSON.pretty_generate(@event.data.object.inspect) %>